@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../../public/fonts/style.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-moz-selection {
  color: #f6f2f2;
  background: #162230;
}

::selection {
  color: #f6f2f2;
  background: #162230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* animation */

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 2s step-start 0s infinite;
}

/* utils */
.highlight {
  @apply p-2 rounded-lg bg-background-darken/60 backdrop-blur-sm flex items-center justify-center;
}

/* hero */
.hero-header {
  @apply text-[clamp(2rem,7vw,5rem)] text-primary inline font-raster;
}

.hero-header__sub {
  @apply text-[clamp(2rem,7vw,5rem)] text-primary inline font-raster;
}

.loading__text {
  @apply py-2 px-3 bg-background/20 font-raster rounded-md;
}

.loading__mouth--front {
  @apply border-y-[10px] border-l-[10px] border-background w-[100px] h-[3.1rem] bg-primary translate-x-3;
}

.loading__mouth--back {
  @apply bottom-[-3.1rem] left-[-1.2rem] border-t-[10px] border-background h-[3.1rem] w-[100px] bg-primary translate-x-3;
}
