@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../../public/fonts/style.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-moz-selection {
  color: #f6f2f2;
  background: #162230;
}

::selection {
  color: #f6f2f2;
  background: #162230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.no-scroll {
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* animation */

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes big-bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-blink {
  animation: blink 2s step-start 0s infinite;
}

.animate-big-bounce {
  animation: big-bounce 0.6s infinite ease-in-out;
}

/* utils */
.highlight {
  @apply px-2 rounded-lg bg-background-darken/60 backdrop-blur-sm flex items-center justify-center;
}

/* hero */
.hero-header {
  @apply text-[clamp(2rem,7vw,4rem)] text-primary inline font-raster;
}

.hero-header__sub {
  @apply text-[clamp(2rem,7vw,3.6rem)] text-primary inline font-raster;
}

.loading__text {
  @apply py-2 px-3 bg-red-400 font-raster rounded-md;
}

.loading__mouth--front {
  @apply border-x-[10px] border-b-[10px] border-background w-[50px] h-[100px]  -translate-y-5;
}

.loading__mouth--top {
  @apply bg-background w-[30px] h-[10px] translate-y-[-20px] translate-x-[10px];
}

.loading__mouth--back {
  @apply absolute bottom-[20px] left-[28px] border-l-[10px] border-background bg-primary h-[100px] w-[3.1rem] translate-x-3;
}

.loading__mouth--cover {
  @apply absolute bottom-[-50vh] left-[3.2rem] w-screen h-screen bg-primary;
}
